<%= turbo_frame_tag dom_id(tweet) do %>
  <div class="card m-4">
    <div class="card-body">
      <%= tweet.body %>
    </div>
    <div class="card-footer bg-transparent border-success">
      Likes (0)
      Retweets(0)
      <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger text-white' %>
    </div>
  </div>
<% end %>